PORT: 2201
HOST: "http://archivospublicos.tudominio.cl"
TITLE: "Archivos Públicos"

HOST_ARCHIVOSPUBLICOS: "https://archivospublicos.tudominio.cl"

HOST_ANALYTIC: "https://log.tudominio.cl"
HOST_ANALYTIC_X_API_KEY: "11111111111111111111"

ONLYDOMAIN: "1"

HOST_ERROR: "https://errores.tudominio.cl"
HOST_ERROR_X_API_KEY: "111111111111111111111111111111"